@model XProject.ViewModels.DaysAndApplactionUser
@{ ViewData["Title"] = "MyProfile"; }

@foreach (var item in @ViewBag.InfoCoach)
{
<section class="section-myProfile">
    <div class="row">

        <div class="col-md-4">
            <partial name="~/Views/Shared/_RightMenuCoachPartial.cshtml" />
        </div>

        <div class="col-md-8">

            <div class="form-group">
                <label> رقم الهوية</label>
                <input readonly value="@item.nationalId" class="form-control" />
            </div>

            <form method="post">


                <div class="form-group">
                    <label>  الساعات </label>
                    <select name="hour" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <div class="box-days">
                        <label> الايام المناسبة لك </label>
                        <ul>
                            @*<li>
                        <input class="form-check" name="AllDaySelected" value="@Model.Namd" type="checkbox" id="@Model.Id" checked="@Model.IsCheched" />
                    </li>*@
                            @foreach (var day in @ViewBag.days)
                            {
                                <li>
                                    <input class="form-check" name="AllDaySelected"
                                           type="checkbox" id="@day.Id"
                                           checked="@day.IsCheched" />
                                    <label for="@day.Id"> @day.Namd</label>
                                </li>
}

                        </ul>
                    </div>
                </div>
                <br /><br />
                
                <hr />

                <label>  تغيير كلمة المرور </label>
                <div class="form-group">
                    <label> كلمة المرور </label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label> تأكيد كلمة المرور </label>
                    <input asp-for="Confirmpassword" type="password" class="form-control" />
                </div>

              

                <br /> <br />

                <div class="form-group">
                    <input type="submit" value=" حفــظ" class="btn btn-color coolor-White" />
                </div>
            </form>
        </div>
    </div>
</section>
}